.item {
  display: flex;
  width: 500px;
  align-items: center;
  font-weight: 500;
  margin: 0 auto 10px;
  background-color: #fff;
  border: solid 1px #dadada;
  padding: 20px 10px 20px 20px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
}
.name {
  width: 80px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-right: 40px;
  color: #073107;
}

.comment {
  width: 360px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px 5px 0;
  color: #3f4246;
}

.time {
  font-size: 12px;
  padding: 0;
  color: #3f4246;
  margin: 0;
}
.btn {
  width: 50px;
  height: 20px;
  font-size: 10px;
  padding: 0;
  color: #ffffff;
  background-color: #f7584c;
  border: none;
  outline: none;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #cc2727;
}
